/BooleanEx.class
/CharacterEx1.class
/CharacterEx2.class
/CharacterEx3.class
/Constant.class
/DoubleEx1.class
/ExplicitConversion.class
/ImplicitConversion.class
/TypeInference.class
/Variable1.class
